<div class="container"> 
  <div class="row">
    <div class = "col-lg-3">
      <%= form_with(model:@item, url:	owners_item_path(@item), method: :patch) do |f| %>
        <%= attachment_image_tag @item, :image, format: 'jpeg', size: "300x300"%>
        <%= f.attachment_field :image, placeholder: "商品画像" %>
    </div>
    <div class = "col-lg-7">
        <%= f.label :name, "商品名" %>
        <%= f.text_field :name %>
        <br><%= f.label :content, "商品説明" %>
        <%= f.text_area :content %>
        <br><%= f.label :no_tax_price, "税抜き価格" %>
        <%= f.text_field :no_tax_price %>
        <br><%= f.label :sale_status, "販売ステータス" %>
        <%= f.select :sale_status, [["販売中止","販売中止"], ["販売中","販売中"]], include_blank: "選択して下さい"  %>
        <br><%= f.label :genre_id, "ジャンル" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい"  %>
        <br><%= f.submit '変更を保存'%>
      <% end %>
    </div>
  </div>
</div>