<h3 class="ow_ganre_title">商品編集</h3>
  <div class="row" style="margin-top:50px;">
    <%= form_with(model:@item, url:	owners_item_path, method: :patch , local: true ) do |f| %>
      <% if @item.errors.any? %>
        <div class="error_explanation">
          <h3><%= @item.errors.count %>error prohibited this obj from being saved:</h3>
          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>	
          </ul>
			</div>
			<% end %>
      <div class = "col-lg-4">
        <%= attachment_image_tag @item, :image,format: 'jpeg', size: "300x300", fallback: "no_image.jpg"%>
        <%= f.attachment_field :image, placeholder: "商品画像" %>
      </div>
      <div class = "col-lg-4">
        <br><br><%= f.label :name, "商品名" %>
        <%= f.text_field :name %>
        <br><br><%= f.label :content, "商品説明" %>
        <%= f.text_area :content %>
        <br><br><%= f.label :genre_id, "ジャンル" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい"  %>
        <br><br><%= f.label :no_tax_price, "税抜き価格" %>
        <%= f.text_field :no_tax_price %>
        <br><br><%= f.label :sale_status, "販売ステータス" %>
        <%= f.select :sale_status, [["販売中止","unvalid"], ["販売中","valid"]], include_blank: "選択して下さい"  %>
        
        
      </div>
      <div class = "col-lg-3 newaction">
			<br><%= f.submit'変更を保存',class: "btn btn-primary px-3" %>
			</div>	
    <% end %>
  </div>
</div>