<div class="container">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-9">
			<div>
				<h3 class="ec_shipping_address_title">　配送先編集　</h3>

				<%= form_with(model: @shipping_address, url: customer_shipping_address_path(@shipping_address), method: :patch, local: true) do |f| %>

          <% if @shipping_address.errors.any? %>
            <div class="error_explanation">
              <h3><%= @shipping_address.errors.count %>error prohibited this obj from being saved:</h3>
              <ul>
                <% @shipping_address.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

					<div class="field form-group">
						<%= f.label :shipping_postal_code, "郵便番号 (ハイフンなし)　" %>
						<%= f.text_field :shipping_postal_code %><br>
					</div>

					<div class="field form-group">
						<%= f.label :shipping_address, "住所　　　　　　　　　　" %>
						<%= f.text_field :shipping_address, size: "50px" %><br>
					</div>

					<div class="field form-group">
						<%= f.label :address_name, "宛名　　　　　　　　　　" %>
						<%= f.text_field :address_name %>
					</div>

          <div class="ec_shipping_address_edit_btn">
						<%= f.submit "　編集する　", class: "btn btn-primary" %>
          </div>

				<% end %>

			</div>
		</div>
	</div>
</div>