customer登録情報編集ページの予定だったけど、deviseがデフォルトで用意しているビューに変更しました
<%= link_to  "新登録情報変更ページ", edit_customer_registration_path %>

<div class="registration">
  <div class="registration_title">
    <h2>登録情報編集</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "customers/shared/error_messages", resource: resource %>

    <dl class="registration_form">
      <dt class="registration_form_title">名前</dt>
      <dd class="registration_form_field">
        <ul class="registration_name">
          <li class="registration_form_list">
            <%= f.label :last_name, "(姓)" %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name"%>
          </li>
          <li class="registration_form_list">
            <%= f.label :first_name, "(名)" %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </li>
        </ul>
      </dd>
    </dl>

    <dl class="registration_form">
      <dt class="registration_form_title">フリガナ</dt>
      <dd class="registration_form_field">
        <ul class="registration_furigana">
          <li class="registration_form_list">
            <%= f.label :last_furigana, "(セイ)" %>
            <%= f.text_field :last_furigana, autofocus: true, autocomplete: "last_furigana"%>
          </li>
          <li class="registration_form_list">
            <%= f.label :first_furigana, "(メイ)" %>
            <%= f.text_field :first_furigana, autofocus: true, autocomplete: "first_furigana" %>
          </li>
        </ul>
      </dd>
    </dl>

    <dl class="registration_form">
      <dt class="registration_form_title">
        <%= f.label :email, "メールアドレス" %>
      </dt>
      <dd class="registration_email">        
        <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
      </dd>
    </dl>
        
    <dl class="registration_form">
      <dt class="registration_form_title">
        <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
      </dt>
      <dd class="registration_postal_code">        
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code"%>
      </dd>
    </dl>

    <dl class="registration_form">
      <dt class="registration_form_title">
        <%= f.label :address, "住所" %>
      </dt>
      <dd class="registration_address">            
        <%= f.text_field :address, autofocus: true, autocomplete: "address"%>
      </dd>
    </dl>

    <dl class="registration_form">
      <dt class="registration_form_title">
        <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
      </dt>
      <dd class="registration_telephone_number">        
        <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number"%>
      </dd>
    </dl>

    <div class="registration_edit_btn">
      <div class="registration_edit_actions_btn">
        <%= f.submit "編集履歴を保存する" %>
      </div>
      <div class="registration_edit_leave_btn">
        <%= link_to  "退会する", leave_path(current_customer.id)  %>
      </div>
    </div>
    
  <% end %>
</div>
