<h3>注文履歴詳細</h3>
  <div class="row" style="margin-top:30px;">
    <div class = "col-lg-9">
      <br><h5>購入者 <%= link_to @order.customer.first_name + @order.customer.last_name,owners_show_owner_costomer_path(@customer) %></h5>
      <br><h5>配送先 〒<%= @order.postal_code %><%= @order.address %></h5>
      <h5><%= @order.address_name %></h5>
      <br>支払方法 
        <% case @order.payment %>
          <% when "credit_card" %>
            クレジットカード
          <% when "bank_transfer" %>
            銀行振込
        <% end %>
      <%= form_with(model: @order, url: owners_order_path(@order), method: :patch,local:true ) do |f| %>
        <br><%= f.label :sale_status, "注文ステータス" %>
        <%= f.select :status, [["入金待ち","waiting_payment"], ["入金確認","payment_confirm"],["製作中","making"],["発送準備中","ready_to_ship"],["発送済み","shipped"]], include_blank: "選択して下さい"  %>
        <%= f.submit'更新',class: "btn btn-primary px-3" %>
      <% end %>
    <table class="table table-hover table-bordered table-inverse">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
        </tr>
      </thead>
      <tbody>

        <% @order.order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.item.name %>
            </td>
            <td>
              <%= (order_item.item.no_tax_price * 1.1).floor %>
            </td>
            <td>
              <%= order_item.number %>
            </td>
            <td>
              <%= ((order_item.number * order_item.item.no_tax_price)* 1.1).floor %>
            </td>
            <td>
              <%= form_with(model: order_item, url: owners_update_owner_order_path(order_item), method: :patch, local:true)  do |f| %>
                <%= f.select :item_status, [["着手不可", "not_start"],["制作待ち", "standby_making"],["製作中", "making"],["制作完了", "making_finish"]],include_blank: "選択して下さい" %>
                <%= f.submit "更新", class: "btn btn-primary" %>
              <% end %>
                </td>

            </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class = "col-lg-3">
      <table class="table table-hover table-bordered table-condensed">
        <tr>
          <th>商品合計</th>
          <td>
               <% @order.order_items.each do |order_item| %>
                <% sab_total = ((order_item.number * order_item.item.no_tax_price)* 1.1).floor %>
                <% @sum += sab_total %>
                <% end %>
                ¥<%= @sum %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td>¥800</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td>
            ¥<%= (@sum*1.1+800).floor %>
          </td>
        </tr>
        </table>
  </div>
</div>