<div class="container">
  <div class="row ec_login_body">
    <div class="col-xs-3"></div>

    <div class="col-xs-9">
      <span class="ec_login_title">　会員の方はこちらからログイン　</span>

      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field form-group">
              <%= f.label :メールアドレス　 %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field form-group">
              <%= f.label :パスワード　　　 %>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "=> パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
            <% end %>

            <div class="actions ec_login_button">
              <%= f.submit "　ログイン　", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>

      <span class="ec_login_title">　登録がお済みでない方　</span>
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <p><%= link_to "こちら", new_registration_path(resource_name) %>　から新規登録を行ってください。</p><br />
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>