<h3 class="ow_ganre_title">会員一覧</h3>
<div class="row" style="margin-top:30px;">

<!-- 会員一覧テーブル -->
<table class="table table-bordered">
  <thead>
    <tr class="active">
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
   </thead>
  <% @customer.each do |customer| %>
    <tr>
      <td>
        <%=link_to customer.id,owners_edit_owner_costomer_path(customer)%>
      </td>
      <td>
        <%=link_to customer.last_name + customer.first_name, owners_show_owner_costomer_path(customer) %>
      </td>
      <td>
        <%= customer.email %>
      </td>
      <td>
        <%if customer.status == "available"%>
        <span><%= "有効" %></span>
        <% else %>
        <span><%= "退会済" %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @customers %>
</div>