<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container">
    <div class="row">
      <header>
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", class: "img-fluid" %>
          <% end %>
        </div>

        <nav class="col-xs-8">
          <ul class="header_list">
            <% if customer_signed_in? %>
              <li class="header_list_item">ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！</li>
              <li><%= link_to "マイページ", customer_path(current_customer), class: "btn btn-default header_list_item" %></li>
              <li><%= link_to "商品一覧", customers_items_path, class: "btn btn-default header_list_item" %></li>
              <li><%= link_to "カート", customer_cart_items_path(current_customer), class: "btn btn-default header_list_item" %></li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-default header_list_item" %></li>
            <% elsif owner_signed_in? %>
              <li><%= link_to "商品一覧", owners_items_index_owner_path, class: "btn btn-default header_list_item" %></li>
              <li><%= link_to "会員一覧", owners_customers_path, class: "btn btn-default header_list_item" %></li>
              <li><%= link_to "注文履歴一覧", owners_orders_path, class: "btn btn-default header_list_item" %></li>
              <li><%= link_to "ジャンル一覧", owners_genres_path, class: "btn btn-default header_list_item" %></li>
              <li><%= link_to "ログアウト", destroy_owner_session_path, method: :delete, class: "btn btn-default header_list_item" %></li>
            <% else %>
              <li><%= link_to "About", home_about_path, class: "btn btn-default header_list_item" %></li>
              <li><%= link_to "商品一覧", customers_items_path, class: "btn btn-default header_list_item" %></li>
              <li><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-default header_list_item" %></li>
              <li><%= link_to "ログイン", new_customer_session_path, class: "btn btn-default header_list_item" %></li>
            <% end %>
          </ul>
        </nav>
      </header>
    </div>
  </div>

  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <p class="alert alert-<%= key %>">
          <%= value %>
        </p>
      <% end %>

      <%= yield %>

    </div>
  </body>

</html>
